{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Hero Start -->
    <section class="bg-half bg-primary d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title text-white"> Blog </h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Back to home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Blog STart -->
    <section class="section">
        <div class="container">
            <div class="row">
                {% for key,blog in blogs %}
                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="card blog rounded border-0 shadow overflow-hidden">
                        <div class="position-relative">
                            <img src="{{blog._embedded['wp:featuredmedia'][0].source_url}}" class="card-img-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h5><a href="{{ path('single-blog', {'id': blog.id,'slug':blog.slug}) }}" class="card-title title text-dark">{{ blog.title.rendered | raw}}</a></h5>
                            <div class="post-meta d-flex justify-content-between mt-3">
{#                                <ul class="list-unstyled mb-0">#}
{#                                    <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)"#}
{#                                                                              class="text-muted like"><i#}
{#                                                    class="mdi mdi-heart-outline mr-1"></i>33</a></li>#}
{#                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i#}
{#                                                    class="mdi mdi-comment-outline mr-1"></i>08</a></li>#}
{#                                </ul>#}
                                <a href="{{ path('single-blog', {'id': blog.id,'slug':blog.slug}) }}" class="text-muted readmore">Read More <i
                                            class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> Spacium</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> {{ blog.date }}</small>
                        </div>
                    </div>
                </div><!--end col-->
                {% endfor %}

                <div class="col-12">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </div><!--end col-->
                <!-- PAGINATION END -->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Blog End -->
{% endblock %}


{% block footer_javascript %}
    <script src="assets/js/Controllers/MainController.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
